<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>
      {% block title %}
        Welcome!
      {% endblock %}
    </title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>" />
    {% block stylesheets %}

    {% endblock %}

    {% block javascripts %}
      {% block importmap %}
        {{ importmap('app') }}
      {% endblock %}
    {% endblock %}
  </head>
  <body class="bg-black text-white">
    <nav class="bg-gradient-to-r from-black via-gray-900 to-red-900 border-b border-red-600 shadow-md">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-center h-16 items-center">
          <div class="flex space-x-6 text-sm font-bold uppercase tracking-widest">
            <a href="{{ path('app_home') }}" class="text-white hover:text-yellow-400 transition">Accueil</a>
            <a href="{{ path('character_list') }}" class="hover:text-yellow-400 transition">Combattants</a>
            <a href="{{ path('app_rating') }}" class="hover:text-yellow-400 transition">Mes Notes</a>
            <a href="{{ path('app_recherche') }}" class="hover:text-yellow-400 transition">Recherche</a>
            <a href="{{ path('app_top') }}" class="hover:text-yellow-400 transition">Top 10</a>

            {% if app.user %}
              <span class="text-gray-300">Bienvenue {{ app.user.username }}</span>
              <a href="{{ path('app_logout') }}" class="hover:text-yellow-400 transition">Déconnexion</a>
            {% else %}
              <a href="{{ path('app_login') }}" class="hover:text-yellow-400 transition">Connexion</a>
              <a href="{{ path('app_register') }}" class="hover:text-yellow-400 transition">Inscription</a>
            {% endif %}

            <a href="{{ path('admin') }}" class="hover:text-yellow-400 transition">Administration</a>
          </div>
        </div>
      </div>
    </nav>

    {% block body %}

    {% endblock %}
  </body>
</html>
