{% extends 'base.html.twig' %}

{% block title %}
  Mes personnages notés
{% endblock %}

{% block body %}
  {% if ratings is empty %}
    <p>Aucune note enregistrée.</p>
  {% else %}
    <ul>
      {% for rating in ratings %}
        <li>
          <img src="{{ asset('images/' ~ rating.character.image) }}" alt="{{ rating.character.name }}" width="150" />
          <strong>{{ rating.character.name }}</strong>
          <br />
          Note : {{ rating.score }}/5
          <br />
          Date : {{ rating.createdAt|date('d/m/Y') }}
          <br />
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}
